<div id="footer">
  <div class="container">
  <div class="row-fluid">
    <div class="span12">
    <!-- nav-justified -->
      <footer class="navbar" id="footer-nav">
        <div class="navbar-inner">
          <ul class="nav nav-pills pull-left"> 
            <li><%= link_to 'About' ,'#', :title => "about_us.title" %></li>
            <li><%= link_to "Terms", '#', :title => "terms.title" %></li>
            <li><%= link_to "Privacy", '#', :title =>  "privacy.title" %></li>
            <li><%= link_to "Contact Us", '#', :title =>  "contact_us.title" %></li>
            <li><%= link_to 'Announcement', '#', :title => "Announcement" %></li>
          </ul>
          <ul class="nav nav-pills pull-right">
           <div style="float:left;padding:10px;">Connect with us:</div>
            <li><a class="social-icons fb" href='#'></a></li>
             <li><a class="social-icons tw" href='#'></a></li>
              <li><a class="social-icons pin" href='#'></a></li>
          </ul> 
        </div><!-- navbar-inner -->
      </footer><!-- navbar -->
    </div><!-- span12 -->
  </div><!-- row-fluid -->
  </div><!-- container -->
 <div class="watermark"></div>
        <div class="container-c">
          <p>Best Food is the number one Online destination for finding best deals nearest to you.</p>
          <p>best@bestfood.com | © 2013 Best Food, Inc. All rights reserved.</p>
        </div><!-- text -->
</div><!-- footer -->        